<!DOCTYPE html>
<html>
<head>
    <title>顧客リスト</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">顧客リスト</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>名前</th>
                    <th>苗字</th>
                    <th>Email</th>
                    <th>携帯番号</th>
                </tr>
            </thead>
            <tbody>
                {% for buyer in buyers %}
                <tr>
                    <td>{{ buyer.first_name }}</td>
                    <td>{{ buyer.last_name }}</td>
                    <td>{{ buyer.email }}</td>
                    <td>{{ buyer.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
