{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
  .custom-btn {
    border-radius:50px;
    background-color: #ffffff; /* 흰색 배경 */
    color: #38b6ff; /* 하늘색 글씨 */
    border: 2px solid #38b6ff; /* 하늘색 아웃라인 */
  }

  .custom-btn:hover {
    background-color: #38b6ff; /* 하버 시 하늘색 배경 */
    color: #ffffff; /* 하버 시 흰색 글씨 */
  }

  .icon {
    font-size: 2rem; 
    color: Dodgerblue;
    }
    .icon-text {
        font-size: 0.9rem; /* 텍스트 크기 조정 */
        text-align: center; /* 텍스트 중앙 정렬 */
    }
    .col {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        min-height: 100px; 
    }
    .link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none; 
        color: inherit; 
        background-color: #f2f2f2;
        border: solid #38b6ff;
        border-radius:50px;
        width: 150px;

    }

    .iconbox {
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    @media (max-width: 768px) {
        .iconbox {
            margin: 10px auto;  // 모바일에서는 좀 더 많은 여백
        }
    }
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div>

        <div class="container-fluid mt-5">
            <div class="row">
                <!-- 左サイド -->
                <div class="col-md-8">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="col" style="align-items:center;">
                            <a href="{% url 'create_order' %}" class="link-container" style="width:300px;">
                                <i class="bi bi-house icon_1 icon-text" style="font-size: 4rem; color: Dodgerblue;"></i>
                                <h4>物件登録</h4>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center mt-3">
                        <!-- アイコン 2 -->
                        <div class="col">
                            <a href="https://example.com/link2" class="link-container">
                                <i class="bi bi-clipboard icon" style="font-size: 2rem; color: Dodgerblue;"></i>
                                <p>重要事項説明書</p>
                            </a>
                        </div>
                        <!-- アイコン 3 -->
                        <div class="col">
                            <a href="https://example.com/link3" class="link-container">
                                <i class="bi bi-pencil-square icon" style="font-size: 2rem; color: Dodgerblue;"></i>
                                <p>売買契約書</p>
                            </a>
                        </div>
                        <!-- アイコン 4 -->
                        <div class="col">
                            <a href="https://example.com/link4" class="link-container">
                                <i class="bi bi-folder icon" style="font-size: 2rem; color: Dodgerblue;"></i>
                                <p>資料作成</p>
                            </a>
                        </div>
                        <!-- アイコン 5 -->
                        <div class="col">
                            <a href="https://example.com/link5" class="link-container">
                                <i class="bi bi-search icon" style="font-size: 2rem; color: Dodgerblue;"></i>
                                <p>査定</p>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center mt-3">
                        <div class="col" style="align-items:center;">
                            <a href="{% url 'create_order' %}" class="link-container" style="width:300px;border-color:green;">
                                <i class="bi bi-translate icon_1 icon-text" style="font-size: 4rem; color: green;"></i>
                                <h4>多言語対応</h4>
                            </a>
                        </div>
                    </div>
                    <!-- add extra icons-->
                    <div class="d-flex flex-row align-items-center justify-content-center mt-3">
                        <div class="row button-row">
                            <!-- 각 버튼을 2열로 배열 -->
                            <div class="col-md-6">
                                <a href="{% url 'order_history'%}" class="btn btn-primary btn-block mb-2">履歴</a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://example.com/action2" class="btn btn-primary btn-block mb-2">添付資料</a>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'calendar' %}" class="btn btn-primary btn-block mb-2">閲覧</a>
                            </div>
                            <div class="col-md-6">
                                <a href="https://example.com/action4" class="btn btn-primary btn-block">問い合わせ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右サイド -->
                <div class="col-md-4">
                    <h2>依頼プレビュー</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>注文番号</th>
                                <th>注文日</th>
                                <th>契約予定日</th>
                                <th>プラン</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.order_date }}</td>
                                <td>{{ order.expected_contract_date }}</td>
                                <td>{{ order.plan }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

{% endblock %}
{% block extra_script %}



{% endblock %}